.PackagePageWrapper{
    width: 100%;
    top:0;
    left: 0;
    right: 0;
}
.TopImageWithInput{
    height: 350px;
    max-height:420px;
    width:150%
  }
  .SearchMainDiv{
    position: relative;
    top:-250px;
  }
  .InputDiv{
    padding: 10px;
    display: flex;
    width: 43%;
    border-radius: 10px;
    justify-content: space-between;
    margin: auto;
    background-color: white;
  }
  .SearchBarHead{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family:  helvetica,arial,sans-serif;
  }
  .SearchInputbar{
    width:100%;
    outline: none;
    margin-left: 10px;
    background-color: white;
    height: 35px;
    font-weight: 400;
    font-size: 18px;
    color: black;
  }
  .SearchIconDiv{
    position: relative;
    top:5px;
    right: 8px;
    height: 30px;
    width: 30px;
    vertical-align: center;
    cursor: pointer;
  }
  .SearchIconDiv:hover{
    background-color: rgb(214, 211, 211);
    border-radius: 45%;
  }
  .ButtonSDivCollection{
    margin: auto;
    display: flex;
    gap:20px;
    flex-direction: column;
    max-width: fit-content;
    margin-top: 20px;
  }
  .ButtonsCollection{
    display: flex;
    gap:15px;
    justify-content: flex-start;
  }
  .Button{
    background-color: white;
    padding: 7px 10px;
    border-radius: 15px;
    border: solid 1.5px #2f9bdb;
    color: #2197db;;
    font-weight: 640;
  }



  .Belowpart{
    width: 85%;
    margin: auto;
    /* border: solid red 2px; */
  }

   /* ====Customizable Tour Packages=========  */

  .customizableToorPackages{
    text-align: left;
    margin-bottom: 50px;
  }
  .PackageHead{
    font-size: 28px;
    font-weight: 600;
  }
  .Packagedescription{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .PackagecardWrapper{
    display: flex;
    gap:25px;
  }
  .PackageCa4rd{
     border-radius: 15px;
  }
  .PacakgeCardImage{
    border-radius: 7px;
    width: 100%;

  }

  /* ======Lower descriptive part ========*/

  .DescriptiveDivwrapper{
     text-align: left;
  }
  .descriptiveSubpartWrapper{
    padding-top: 10px;
    margin: 10px;
  }

  @media(max-width:995px){
    .SearchBarHead{
   
        font-size: 25px;
        font-weight: 600;
       
      }
      .PackagecardWrapper{
        flex-direction: column;
      }
  }