
.ProcessingPageWrapper{
    height: 100vh;
    background-color: white;
}

.Processingbar{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap:30px;
}

.Statement{
    margin-top: 80px ;
}