
.form-group{
   
    margin: 5px 15px;
}
.form-group>input{
    border: 0.5px solid gainsboro;
    width: 97%;
    height: 35px;
    margin-top: 15px;
}
.btn{
    width: 90%;
    margin: auto;
    height: 35px;
    background-color: #f27669;
    color:white;
}
.alert{
    color: red;
}
.checkbox{
    display: flex;
    margin-left:5%;
    margin-bottom: 10%;
    

}
.terms{
    font-size: 12px;
}
.gotologin{
    color: blue;
}
.gotologin:hover{
    cursor: pointer;
}
.captcha{
    margin-left: 10px;
}